fastapi[standard]
linkml
openai
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
passlib[bcrypt]
pyjwt
asyncpg
pytz
apscheduler
chroma
chromadb
Levenshtein
numpy
pyyaml
httpx
antlr4-python3-runtime